@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Noto Sans TC', sans-serif;
  }
  body {
    @apply bg-amber-100;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }
  p {
    &:not(:last-child) {
      @apply mb-4;
    }
  }
  input,
  textarea {
    @apply rounded-md border border-stone-300 p-2;
    &:disabled {
      @apply bg-gray-200;
    }
    &:focus,
    &:focus-visible {
      @apply ring-2 ring-yellow-300 outline-none;
    }
  }
  button {
    @apply cursor-pointer rounded-md bg-yellow-500 p-2 px-4 text-white hover:opacity-80 disabled:brightness-75;
  }
  a[href] {
    @apply break-all text-blue-500 underline hover:text-blue-600;
  }
  table {
    @apply border-2;
  }
  th {
    @apply border-r border-b-2 p-4;
  }
  td {
    @apply border-r border-b p-4;
  }
  red {
    @apply text-red-500;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 lg:max-w-5xl;
  }
}

.spinner {
  @apply mr-2 inline-block h-4 w-4 animate-spin rounded-full border-2 border-white border-t-transparent;
}
